# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production

# Frontend build files
/dist/
/build/
/.next/
/out/

# IDE/Editor
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Backend-specific files
# (e.g., logs, database files, etc.)
/logs/
*.log
*.sqlite
*.db

# Frontend-specific files
# (e.g., cache, dependencies, etc.)

/.vite/
todo.md
